/* CSS stillerinizi buraya girin */

@import url(reset.css);

/** {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: rgba(168, 176, 171, 0.2);
}*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav li {
  display: flex;
  gap: 1rem;
}

nav a {
  background-color: darkslategray;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: 1px solid black;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #eee;
  color: black;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.intro-img,
.intro-text {
  flex: 1;
  flex-basis: 300px;
}

.intro-img img,
.projects img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.intro-text button {
  align-self: flex-start;
  padding: 0.5rem 1rem;
}

h3 {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}

.project {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
}

/* ///////////////RESPONSIVE///////////////// */

/*desktop*/

@media screen and (max-width: 992px) {
  body {
    background-color: slategray;
  }
  header {
    align-items: center;
  }

  nav ul {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    padding: 1rem 1rem;
    display: block;
    min-width: 150px;
    text-align: center;
  }
}

/* tablet*/

@media screen and (max-width: 600px) {
  body {
    background-color: orange;
  }
}

/*phone */
