/* CSS stillerinizi buraya girin */

@import url(reset.css);

* {
  box-sizing: border-box;
  /*border: 1px solid black;
  background-color: rgba(168, 176, 171, 0.2);*/
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

button {
  font-size: 1.2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav li {
  display: flex;
  gap: 1rem;
}

nav a {
  background-color: darkslategray;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: 1px solid black;
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #eee;
  color: black;
}

/*intro*/

main {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.intro-img,
.intro-text {
  flex: 1;
  flex-basis: 300px;
}

.intro-img img,
.projects img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  align-items: flex-start;
}

.intro-text button {
  padding: 0.5rem 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}

.project {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0;
}

.max-container {
  max-width: 1000px;
  margin: 0 auto;
}

/* ///////////////RESPONSIVE///////////////// */

@media screen and (max-width: 992px) {
  /*body {
    background-color: slategray;
  }*/

  html {
    font-size: 20px;
  }

  .max-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  header {
    align-items: center;
    padding: 2rem 0;
  }

  nav ul {
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    padding: 1rem 1rem;
    display: block;
    min-width: 150px;
    text-align: center;
  }

  /*intro*/
  main {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .intro-img,
  .intro-text {
    flex-basis: 1 0 100%;
  }

  .intro-text {
    align-items: center;
    padding: 1rem 2rem;
  }

  .projects {
    padding: 2rem 3rem;
  }

  .project {
    flex-basis: 40vw;
  }

  .project img {
    aspect-ratio: 1/1;
  }
}

/* tablet*/

@media screen and (max-width: 600px) {
  /* body {
    background-color: orange;
  }*/

  html {
    font-size: 24px;
  }

  .max-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .intro-img {
    height: 80vh;
  }

  .projects {
    justify-content: space-around;
  }
}

/*phone */
